.main{
  background-image: url(https://cdn.pixabay.com/photo/2017/09/22/21/32/background-2777146_960_720.jpg);
  background-size: cover;
  padding:80px 100px;
  text-align:center;
  height:1200px;
}
.container{
  width:1170px;
  margin:0 auto;
}

.heading h1{
  color:green;
}
.lesson{
  float:left;
  width:33%;
}
.lesson-icon{
  position: relative;
}
.txt{
  position:absolute;
  top:110px;
  width:100%;
  color:white;
  font-weight: bold;
}
.text{
  width:80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color:black;
  font-weight: bold;
}
input,textarea{
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  width:400px;
  font-size:18px;
  border: 1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
.section-title {
  font-size: 28px;
  padding-right:130px;
  padding-left:110px;
  display:inline-block;
}
