* {
  box-sizing: border-box;
}
.main{
  background-image: url(https://www.bing.com/th?id=OSBI.HKGf50df0c0ad4d4efdb951d6e4efe5e398&pid=Api&rs=1&p=0);
  background-size: cover;
  padding:80px 100px;
  text-align:center;
  height:1200px;
}
.container{
  width:100%;
  margin:0 auto;
}

.heading h1{
  color:green;
}
.clear{
  clear:left;
}
.lesson{
  float:left;
  width:33%;
}
.lesson-icon{
  position: relative;
}
.txt{
  position:absolute;
  top:110px;
  width:100%;
  color:white;
  font-weight: bold;
}
.text{
  width:80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color:black;
  font-weight: bold;
}
input,textarea{
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  width:400px;
  font-size:18px;
  border: 1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
.section-title {
  font-size: 28px;
  padding-right:130px;
  padding-left:110px;
  display:inline-block;
}
